---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../utils/consts";
import RecentPosts from "../components/RecentPosts.astro";
import IntroSection from "../components/IntroSection.astro";
import MyProjects from "../components/MyProjects.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <IntroSection />
      <RecentPosts />
      <MyProjects />
    </main>
  </body>
</html>

<style>
  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
</style>
