---
interface Props {
  title: string;
  posts: Array<{ id: string; data: { title: string; pubDate: Date } }>;
}
const { title, posts } = Astro.props;
---

<section class="blog-item">
  <h2>{title}</h2>
  <ul class="post-list">
    {
      posts.map((post) => (
        <li class="post-list-item">
          <a
            href={`${import.meta.env.BASE_URL}/blog/${post.id}/`}
            class="post-link"
          >
            <span class="post-title">{post.data.title}</span>
            <span class="post-date">
              {new Date(post.data.pubDate).toLocaleDateString()}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .post-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
